<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">

    <bean id="cart1" class="com.app.core.ShopingCart">
        <property name="name" value="cart1"/>
        <property name="sum" value="1"/>
    </bean>
    <bean id="cart2" class="com.app.core.ShopingCart">
        <property name="name" value="cart2"/>
        <property name="sum" value="2"/>
    </bean>

</beans>